<nav class="navbar bg-black">
    <div class="container-fluid">
      <h4 class="navbar text-white">Hack the blog</h4>
        <button class="btn btn-outline-primary" type="submit">Admin</button>
    </div>
  </nav>