<nav class="navbar bg-black">
    <div class="container-fluid">
      <h4 class="navbar text-white">Hack the blog</h4>
        <a class="btn btn-outline-primary" href="/admin">Admin</a>
    </div>
  </nav>